<div class="d-flex justify-content-center align-items-center">
  <%= simple_form_for(cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
