<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/banner', cocktail: @cocktail %>

  <h1 class="d-flex justify-content-center p-3">Editing <%= @cocktail.name %></h1>

  <%= render 'form', cocktail: @cocktail %>
</body>
