<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/banner_cocktail' %>

  <h1 class="d-flex justify-content-center p-3">Add a Cocktail</h1>

  <%= render 'form', cocktail: @cocktail %>
</body>
