  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?martini);">
    <div class="container">
      <h1 class="text-center">Cocktail Nation</h1>
    </div>
  </div>
