<div class="p-3" style="width: 300px;">
  <h4>Add an ingredient</h4>

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>

